@import 'config';
@import 'header';
@import 'polllist';
@import 'pollitem';
@import 'newpoll';
@import 'result';
@import 'modalwrap';
@import 'rwd';

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

dl, dd {
    margin: 0;
}

section, article, figure, fieldset {
    margin: 0;
}
a {
    text-decoration: none;
}

.MoviePolls{
    position: relative;
    background: $color-bg;
    min-height: 100vh;

    &__section{
        max-width: 960px;
        padding: 3rem;
        margin: 0 auto;

        h2 {
            color: $color-font-h;
            font-size: 1.4rem;
            margin-bottom: 1rem;
            text-align: center;
        }

        .button__result,
        .button__register {
            display: block;
            background: $color-font-h;
            margin: 1rem 2rem;
            padding: 1rem;
            color: #fff;
            text-align: center;
            cursor: pointer;
            font-size: 1rem;
        }
        .button__register {
            margin: 2rem auto 1rem;
            width: 80%;
            border: 0;
        }
    }
}

.NoMatch {
    min-height: 300px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    align-items: center;
    justify-content: center;
}