.MoviePolls__Title {
    background: white;
    color: $color-main;
    border-bottom: 2px $color-main solid;
    font-size: 2rem;
    padding: 1.5rem 3rem;
    text-align: center;
    font-weight: 600;
}