.MoviePolls{
    position: relative;
    background: $color-bg;
    min-height: 100vh;

    &__section{
        max-width: 960px;
        padding: 3rem;
        margin: 0 auto;

        h2 {
            color: $color-font-h;
            font-size: 1.4rem;
            margin-bottom: 1rem;
            text-align: center;
        }

        .button__result,
        .button__register {
            display: block;
            background: $color-font-h;
            margin: 1rem 2rem;
            padding: 1rem;
            color: #fff;
            text-align: center;
        }
        .button__register {
            margin: 2rem 1rem;
        }
    }
}

.PollList {
    &__navi {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-direction: column;
        align-items: center;

        li {
            max-width: 400px;
            background-color: #fff;
            border-radius: 5px;
            border: 1px $color-main solid;
            margin: 1rem 0;
            &:hover {
                background: $color-font-h;
                transition: background-color 0.3s;
                border: 1px $color-font-h solid;
                color: #fff;
                a {
                    background: $color-font-h;
                    color: #fff;
                    transition: background-color 0.3s;
                }
            }

            a {
                color: $color-main;
                text-align: center;
                display: block;
                padding: 1rem;
                transition: background-color 0.3s;
            }
        }
    }        
}

.PollItem {
    &__title {
        padding: 0 1rem;
    }
    &__MovieList {
        padding-top: 1rem;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

        -webkit-justify-content: space-between;
        justify-content: space-between;

        &__item {
            background-color: #fff;
            box-shadow: 0 3px 6px #bbb, 0 3px 6px #bbb;
            width: 31%;
            padding: 1rem;
            border-radius: 5px;
            &__title {
                display: block;
                font-size: 1.5rem;
                    span {
                        font-weight: normal;
                        font-size: 1rem;
                        vertical-align: middle;
                    }
            }

            figure {
                cursor: pointer;
                margin-bottom: 10%;

                img {
                    width: 100%;
                    display: block;
                }
            }
            &__desc {
                font-size: 0.9rem;
                padding: 0;
                .movieDirector {
                    font-weight: bold;
                    margin-bottom: 2%;
                    font-size: 1rem;
                }
                .movieGenres {
                    font-weight: bold;
                    font-size: 0.8rem;
                }
                .movieDesc {
                    margin-top: 10px;
                    color: $color-font-h;
                }
            }
        }
    }
}

.NewPoll{
    form {
        text-align: center;
        fieldset {
            border: 0;
            background: #fff;
            padding: 2rem;
            margin: 2rem 0;
            border-radius: 0.5rem;
            
        }
    }
    &__Selection {
        border: 0;
        background: #fff;
        padding: 2rem;
        margin: 1rem 0;
        border-radius: 0.5rem;
        strong {
            color: $color-main;
            margin-bottom: 0.5rem;
            display: block;
        }
    }
    &__MovieList {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

        -webkit-justify-content: space-between;
        justify-content: space-between;

        &__item {
            width: 30%;
            cursor: pointer;
            img { 
                width: 100%; 
                display: block;
            }
            &--selected {
                img {
                    border: 4px #fa6462 solid;                    
                }
            }
        }
    }

    &__input__title {
        label {
            width: 100%;
            display: block;
            font-weight: bold;
            margin-bottom: 0.5rem;
            color: $color-main;
            text-align: left;
        }

        input {
            width: 100%;
            display: block;
            height: 2rem;
            padding: 0 0.5rem;
            font-size: 0.8rem;
        }
    }
}
.Result {

    &__list {
        padding-top: 1rem;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

        -webkit-justify-content: space-between;
        justify-content: space-between;

        &__item {
            width: 33.3%;
            img {
                width: 100%;
            }
        }
    }
}

